<div *ngIf="!this.finnishLoad">
    <div class="col-2 mt-2 mb-2">
        <a class="back-button text-left" [routerLink]="['/' + this.taskSelect]">&lt;</a>
    </div>
    <div class="text-center title-text">
        <!-- <p>Now loading ...</p> -->
        <div class="pt-3 pb-3"><img class="loading-img" src="./assets/dist/img/loading.gif"></div>
    </div>
</div>
<div class="normal-text" *ngIf="this.finnishLoad">
    <div>
        <div *ngFor="let item of this.restaurantInfo.data">
            <div class="text-center" *ngIf="item.bannerPath == '' ">
                <img class="restaurant-page-banner" src='./assets/dist/img/no-picture-1280.jpg'>
            </div>
            <div class="text-center" *ngIf="item.bannerPath !== '' ">
                <img class="restaurant-page-banner" src='http://emfood.yipintsoi.com/web_api{{item.bannerPath}}'>
            </div>
        </div>
    </div>
    <div class="container pt-2">
        <div class="row">
            <!--------------- back button ---------------->
            <div class="col-2 mt-2 mb-2">
                <!-- Back to home page -->
                <div>
                    <!-- <a class="back-button text-left" [routerLink]="['/' + this.taskSelect,'search',this.taskSelect, this.searchInput]">&lt;</a> -->
                    <a class="back-button text-left" [routerLink]="['/' + this.taskSelect]">&lt;</a>
                </div>
                <!----------------------->

                <!-- Back to category page -->
                <!-- <div *ngIf="this.routeId !== 'search' ">
                    <a class="back-button text-left" [routerLink]="['/' + this.taskSelect,'shop-list',this.taskSelect, this.routeId]">&lt;</a>
                </div> -->
                <!----------------------->
            </div>
            <!------------------------------------------->
            <div class="col-10">
                <div *ngFor="let item of restaurantInfo.data">
                    <div *ngFor="let info of item.childMstMerchantTranslation">
                        <h4 class="title-text">{{info.name}}</h4>
                        <p class="desiption-text">{{info.detail}}</p>
                    </div>
                    <div>
                        <p>Open: {{item.openTime | slice:0:5}}</p>
                        <p>Close: {{item.closeTime | slice:0:5}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="normal-text" *ngIf="this.merchantID !== 0.1 ">
            <app-delivery [shopOpen]="this.shopOpen" [merchantId]="this.merchantID" *ngIf="this.taskSelect === 'delivery' "></app-delivery>
        </div>
        <!---------------------------------------------->
        <!-- <app-delivery [merchantId]='' *ngIf="this.taskSelect === 'delivery' "></app-delivery> -->
        <!-- <app-reserve *ngIf="this.taskSelect === 'reserve' "></app-reserve> -->
    </div>
</div>