<!-- <div class="pop-up-cart normal-text" *ngIf="this.cartPopUp"> -->
<div class="pop-up-cart normal-text pb-5">
    <div class="row bg-solid-black gold">
        <div class="col-2 pl-4 close-button align-middle font-big" (click)="closeCartPage()">&times;</div>
        <div class="col-8 mb-0 text-center center-col"><h5 class="p-2 mb-0 text-115-rem">Cart</h5></div>
    </div>
    <div class="container p-3 pb-0">
        <!--------------- Address area -------------------->
            <div>
                <h5 class="text-115-rem gold">Customer Info</h5>
                <div class="form-group" *ngIf="!this.editProfile">
                    <div class="row">
                        <div class="col-9">
                            <div class="pt-2 pb-2"><p>{{this.fullName}}</p></div>
                            <div class="pt-2 pb-2"><p>{{this.mobileNumber}}</p></div>
                        </div>
                        <div class="col-3 text-center center-col" (click)="editProfileFunc()"><p>Edit</p></div>
                    </div>
                </div>
                <div *ngIf="this.editProfile">
                    <input class="form-control form-group mb-1" #fullName placeholder="Name" value="{{this.nameValue}}">
                    <input class="form-control form-group mb-1" #phoneNumber placeholder="Phone number" type="number" maxlength="10" value="{{this.mobileValue}}">
                    <div (click)="confirmEditProfile(fullName.value, phoneNumber.value)">
                        <div class="mt-3 ml-5 mr-5 gold-button text-center">
                            <p>Save</p>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div *ngIf="this.showAdress">
                <h5 class="text-115-rem gold">Address</h5>
                <div *ngIf="!this.editAddress">
                    <div class="row">
                        <div class="form-group col-9 over-flow-text">
                            <p class="pb-1">{{this.selectedAddress.name}}</p>
                            <div *ngIf="this.selectedAddress.type === 'delivery' ">
                                <p>Address detail :</p>
                                <p class="pb-2 over-flow-text">{{this.selectedAddress.detail}}</p>
                                <p>Comment for address :</p>
                                <p class="over-flow-text">{{this.selectedAddress.note}}</p>
                            </div>
                        </div>
                        <div class="col-3 text-center center-col" (click)="editAdressFunc()"
                            *ngIf="this.selectedAddress.type === 'delivery' ">
                            <p>Edit</p>
                        </div>

                    </div>
                </div>
                <div *ngIf="this.editAddress">
                    <div class="form-group">
                        <input class="form-control form-group mb-1" #editAddressType value="{{this.selectedAddress.name}}">
                        <p>Address detail :</p>
                        <textarea row="2" #editAddressDetail class="form-control" maxlength="225" value="{{this.selectedAddress.detail}}"></textarea>
                        <p>Comment for address :</p>
                        <textarea row="2" #editAddressNote class="form-control" maxlength="225" value="{{this.selectedAddress.note}}"></textarea>
                    </div>
                    <div (click)="confirmEditaddress(editAddressType.value, editAddressDetail.value, editAddressNote.value)">
                        <div class="mt-3 ml-5 mr-5 gold-button text-center">
                            <p>Save</p>
                        </div>
                    </div>
                </div>
                <hr>
            </div>

            <!-- <div *ngIf="this.pickUp">
                <div class="form-group">
                    <p>Name</p>
                    <input class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Phone number">
                </div>
                <hr>
            </div> -->
        
            <div class="row text-center pb-3">
                <div class="col-6">
                    <div class="gold-button" (click)="openAddressPopUp()">
                        <p>Delivery</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="gold-button" (click)="openPickUpPopUp()">
                        <p>Pick up</p>
                    </div>
                </div>
            </div>
            <hr class="underline">
        <!---------------------------------------------------->
        <!--------------- Comment area ----------------------->
            <!-- <div>
                <p>Comment</p>
                <textarea class="form-control" rows="2" id="comment"></textarea>
            </div> -->
        <!------------------------------------------------------>
            <div>
                <app-order-list (getSummary)="renderSummary($event)"></app-order-list>
            </div>
            <hr class="underline">
            <!-- <div class="payment-box">
                <div class="gold">
                    <h5 class="text-115-rem">Payment</h5>
                </div>
                <div class="row text-center custom-checkbox">
                    <div class="col-4">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">Credit card</label>
                    </div>
                    <div class="col-4">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">Account</label>
                    </div>
                    <div class="col-4">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                        <label class="form-check-label" for="inlineRadio3">QR Code</label>
                    </div>
                </div>
            </div>
            <hr class="underline"> -->
            <!--------- delivery price ------->
            <div class="row gold pb-1" *ngIf="this.showAdress">
                <div class="col-6 pl-0 text-left">
                    <p>Delivery price</p>
                </div>
                <div class="col-6 pr-0 text-right">
                    <p>{{this.selectedAddress.deliveryPrice}}</p>
                </div>
            </div>
            <!---------------------------------->
            <div class="row gold pb-1">
                <div class="col-6 pl-0 text-left">
                    <p>Discount</p>
                </div>
                <div class="col-6 pr-0 text-right">
                    <p>{{this.totalDiscount}}</p>
                </div>
            </div>
            <!---------------------------------->
            <div class="row gold">
                <div class="col-6 pl-0 text-left">
                    <p>Total</p>
                </div>
                <div class="col-6 pr-0 text-right">
                    <p>{{this.totalPrice}}</p>
                </div>
            </div>
        <!---------------- Summary button -------------------->
            <div class="row cart-button text-center" (click)="confirmOrder();">
                <div class="col-2">
                    <p>{{this.totalOrder}}</p>
                </div>
                <div class="col-8">
                    <p>Confirm Order</p>
                </div>
                <div class="col-2">
                    <p>{{this.totalPrice}}</p>
                </div>
            </div>
        <!---------------------------------------------------->
    </div>
</div>


<!-- Delivery Pop Up -->
<div class="pop-up-cart" *ngIf="this.deliveryAddress">
    <div class="row bg-solid-black">
        <div class="col-2 pl-4 close-button align-middle" (click)="closeAddress('delivery')"><p class="pt-2"> < </p></div>
        <div class="col-8 text-center"><h5 class="p-2 text-115-rem">Address delivery</h5></div>
    </div>
    <div class="container">
        <app-delivery-address (selectedAddress)="addressSelected($event)"></app-delivery-address>
    </div>
</div>

<!-- Pick Up Pop Up -->
<div class="pop-up-cart" *ngIf="this.pickUp">
    <div class="row bg-solid-black">
        <div class="col-2 pl-4 close-button align-middle" (click)="closeAddress('pickUp')"><p class="pt-2"> < </p></div>
        <div class="col-8 text-center"><h5 class="p-2 text-115-rem">Pick up address</h5></div>
    </div>
    <div class="container">
        <app-pick-up-address (selectedAddress)="addressSelected($event)"></app-pick-up-address>
    </div>
</div>

<!--  Error Pop Up -->
<div class="pop-up" *ngIf="this.errorPopUp">
    <div class="pop-up-content text-center">
        <div (click)="this.errorPopUp = false" class="text-right">
            <p>&#10005;</p>
        </div>
        <div class="text-center ml-3 mr-3">
            <p>{{this.errorCodeText}}</p>
        </div>
    </div>
</div>

<!--  Remove Order Pop Up -->
<div class="pop-up" *ngIf="this.removeOrderPopUp">
    <div class="pop-up-content text-center pb-3">
        <div (click)="this.removeOrderPopUp = false" class="text-right">
            <p>&#10005;</p>
        </div>
        <div class="text-center ml-3 mr-3 pb-3">
            <p>There are some order that cannot order right now.</p>
        </div>
        <div class="row text-center ml-3 mr-3">
            <div class="col-6">
                <div class="gold-button" (click)="removeErrorOrder()">
                    <p>Remove order</p>
                </div>
            </div>
            <div class="col-6">
                <div class="gold-button" (click)="this.removeOrderPopUp = false">
                    <p>Cancel</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!------------ Loading pop up  --------------->
<app-loading-pop-up [openLoadingPopUp]="this.openLoadingPopUp"></app-loading-pop-up>
<!-------------------------------------------->