.restaurants-button{
    font-family: gt-walsheim;
    // border: 1px solid #B39462;
    padding: 0rem 0.25rem 0.5rem 0.25rem;
    background-color: white;
    margin-bottom: 1rem;
    font-size: 0.75rem;
}

@media only screen and (max-width: 340px) {
    .restaurants-button{
        font-size: 0.6rem;
    }
}