<div class="pop-up-content text-center">
    <div>
        <h3>Address</h3>
    </div>
    <!-- Add address -->
    <div (click)="this.addAddress = true">
        <p> Add </p>    
    </div>
    <!------------------->
    <!------ Default address ------>
    <div *ngFor="let index of this.addressList">
        <div *ngIf="index.default == true" class="row address-box mt-3 mb-3">
            <div (click)="selectAddess(index)" class="col-10 text-left">
                <div>
                    <p>Name : {{index.name}}</p>
                    <p>Phone number : {{index.telephoneNumber}}</p>
                    <p>Address : <br>{{index.detail}}</p>
                </div>
            </div>
            <div class="col-2 pl-0">
                <div class="mb-4 pt-2" (click)="editAddressSelect(index)">
                    <p> Edit </p>
                </div>
                <div (click)="deleteAddress(index)">
                    <p> Delete </p>
                </div>
            </div>
        </div>
    </div>
    <!------------------------>
    <!-------- All Adress ---------->
    <div class="text-left">
        <h5> Other </h5>
    </div>
    <div *ngFor="let index of this.addressList">
        <div *ngIf="index.default == false" class="row address-box mt-3 mb-3">
            <div (click)="selectAddess(index)" class="col-9 text-left">
                <div>
                    <p>Name : {{index.name}}</p>
                    <p>Phone number : {{index.telephoneNumber}}</p>
                    <p>Address : <br>{{index.detail}}</p>
                </div>
            </div>
            <div class="col-3 pl-0 pr-o">
                <div class="mb-3 mt-2" (click)="setDefaultAddress(index)">
                    <p>Set default</p>
                </div>
                <div class="mb-3 mt-3" (click)="editAddressSelect(index)">
                    <p> Edit </p>
                </div>
                <div class="mb-2 mt-3" (click)="deleteAddress(index)">
                    <p> Delete </p>
                </div>
            </div>
        </div>
    </div>
    <!--------------------------->
    <!-- Add adress pop-up -->
    <div class="address-pop-up" *ngIf="this.addAddress">
        <div class="address-pop-up-container">
            <div>
                <h5>Type location</h5>
                <input #customerName class="form-control" placeholder="ex. Home , Condo , Workplace">
                <p class="verlify-invalid" *ngIf="this.verifyName === false">Invalid name</p>
            </div>
            <div>
                <h5>Phone number</h5>
                <input #customerPhoneNumber type="number" class="form-control" placeholder="Phone number">
                <p class="verlify-invalid" *ngIf="this.verifyPhoneNumber === false">Invalid phone number</p>
            </div>
            <div>
                <h5>Address</h5>
                <textarea row="2" #addNewAddress class="form-control"></textarea>
                <p class="verlify-invalid" *ngIf="this.verifyAddress === false">Invalid address</p>
            </div>
            <div>
                <h5>Comments</h5>
                <textarea row="2" #addressComments class="form-control"></textarea>
            </div>
            <div class="row mt-3">
                <div class="col-6" (click)="verify(customerName.value, customerPhoneNumber.value, addNewAddress.value ,addressComments.value , 'add')"> 
                    <div class="address-pop-up-button"> Add </div>
                </div>
                <div class="col-6" (click)="closePopUp('add')"> 
                    <div class="address-pop-up-button"> Cancel </div>
                </div>
            </div>    
        </div>    
    </div>
    <!----------------------->

    <!-- Delete confirm pop-up -->
    <div class="address-pop-up" *ngIf="deleteConfirmPopUp">
        <div class="address-pop-up-container">
            <div class="mb-4">
                <p>Delete this address?</p>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="address-pop-up-button" (click)="deleteConfirmation(true)">
                        <p> Yes </p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="address-pop-up-button" (click)="deleteConfirmation(false)">
                        <p> No </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <!-- Edit adress pop-up -->
        <div class="address-pop-up" *ngIf="this.editAddress">
            <div class="address-pop-up-container">
                <div>
                    <h5>Type location</h5>
                    <input #editCustomerName class="form-control" value="{{this.editAddressList.name}}">
                    <p class="verlify-invalid" *ngIf="this.verifyName === false">Invalid name</p>
                </div>
                <div>
                    <h5>Phone number</h5>
                    <input #editCustomerPhoneNumber type="number" class="form-control" value="{{this.editAddressList.telephoneNumber}}">
                    <p class="verlify-invalid" *ngIf="this.verifyPhoneNumber === false">Invalid phone number</p>
                </div>
                <div>
                    <h5>Address</h5>
                    <textarea row="2" #editAddNewAddress class="form-control" value="{{this.editAddressList.detail}}"></textarea>
                    <p class="verlify-invalid" *ngIf="this.verifyAddress === false">Invalid address</p>
                </div>
                <div>
                    <h5>Comments</h5>
                    <textarea row="2" #editAddressComments class="form-control" value="{{this.editAddressList.note}}"></textarea>
                </div>
                <div class="row mt-3">
                    <div class="col-6" (click)="verify(editCustomerName.value, editCustomerPhoneNumber.value, editAddNewAddress.value ,editAddressComments.value , 'edit')"> 
                        <div class="address-pop-up-button"> Edit </div>
                    </div>
                    <div class="col-6" (click)="closePopUp('edit')"> 
                        <div class="address-pop-up-button"> Cancel </div>
                    </div>
                </div>    
            </div>    
        </div>
        <!----------------------->
    <!-- <google-map width="100%" height="400px" [center]="{ lat:this.latCenter , lng:this.lngCenter}" (mapClick)="setMarker($event)">
        <map-marker [position]="{ lat:this.lat , lng:this.lng}"></map-marker>
    </google-map> -->
</div>
