
.address-box{
    border-bottom: 2px solid #B39462;
    padding: 0.25rem;
    font-size: 0.75rem;
}
.add-address-button{
    border: 1px solid #B39462;
    border-radius: 1rem;
    font-size: 0.75rem;
}
.address-pop-up{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: scroll;
    padding: 10vh 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}
.address-pop-up-container{
    padding: 5vh 5vw 5vw 5vw;
    margin: auto;
    width: 95%;
    background-color: white;
    border: 2px solid black;
}
.address-pop-up-button{
    background-image:  linear-gradient(#B39462, #987e54);
    color: white;
    // border: 2px solid black;
}
.deliver-buttton{
    display: inline-block;
    padding: 1vh 0;
    color: white;
    // background-color: #B39462;
    background-image:  linear-gradient(#B39462, #987e54);
    width: 90%;
}
.deliver-buttton-pos{
    position: absolute;
    bottom: 5vh;
    left: 0;
    width: 100%;
}
.verlify-invalid{
    color: red;
}