<div class="bg-black pb-3">
    <!-------------- Silde menu --------------------->
    <div id="sideMenu" class="sidenav text-center pt-0">
        <div class="sidenav-size">
            <div class="col-12 text-left mb-2 pl-0 pr-0 row">
                <div class="side-menu-close-button pointer pr-2">
                    <!-- <a>&lt;</a> -->
                    <img (click)="openMenu(false)" src="./assets/dist/img/Close2-01.png" width="12" height="12"/>
                </div>
                <div class="col-12 pb-3 pt-3 menu-head text-center">
                    <img src="./assets/dist/img/Logo_Em_dinning.png" width="115" height="21">
                    <!-- <h5 class="mb-0">Menu</h5> -->
                </div>
            </div>
            <div class="pointer" (click)="openMenu(false)">
                <!-- <div class="col-12 pl-4 menu-button" [routerLink]="['/' + this.taskData]"> -->
                <div class="col-12 p-3 menu-button" [routerLink]="['/delivery']">
                    <a>HOME</a>
                </div>
                <div class="col-12 p-3 menu-button" (click)="openPopUp('order',true)">
                    <a>ORDER</a>
                </div>
                <!-- <div class="col-12 pl-4 menu-button" (click)="openPopUp('profile',true)"> -->
                <div class="col-12 p-3 menu-button" [routerLink]="['/delivery/profile']">
                    <a>PROFILE</a>
                </div>
                <div class="col-12 p-3 menu-button" (click)="openPopUp('history',true)">
                    <a>HISTORY</a>
                </div>
            </div>
        </div>
    </div>
    <!--------------------------------------------------->

    <!--------------- All header part --------------------->
    <!-- <div class="row">
        <div class="col-2">
            <div class="nav-link pointer" (click)="openMenu(true)">
                <div class="nav-item">
                    <img class="width-50" src="./assets/dist/img/Menu.png"/>
                </div>
            </div>
        </div>
        <div class="col-8 text-center pt-1 pb-1">
            <h5 [routerLink]="['/' + this.taskData]" style="cursor: pointer;">
                <img class="width-70" src="./assets/dist/img/Logo_Em_dinning.png"/>
            </h5>
            <div *ngIf="this.searchPage == false">
                <app-search [taskData]="this.taskData"></app-search>
            </div>
        </div>
        <div class="col-2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <div class="nav-link text-right pr-2 pointer" (click)="openPopUp('cart',true)">
                        <img class="width-50" src="./assets/dist/img/Cart.png"/>
                        <span class="badge badge-danger navbar-badge"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div> -->
    <div class="row">
        <div class="col-2 text-center center-col">
            <div (click)="openMenu(true)">
                <img class="width-side-menu-img" src="./assets/dist/img/Menu.png" />
            </div>
        </div>
        <div class="col-8 text-center pt-1 pb-1 center-col">
            <!-- <h5 [routerLink]="['/' + this.taskData]" style="cursor: pointer;"> -->
            <div [routerLink]="['/delivery']" style="cursor: pointer;">
                <img class="width-title-img" src="./assets/dist/img/Logo_Em_dinning.png"/>
            </div>
        </div>
        <div class="col-2 center-col">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <!-- <div class="nav-link text-center pointer" (click)="openPopUp('cart',true)"> -->
                    <div class="nav-link text-center pointer" [routerLink]="['/delivery/cart-page']">
                        <img class="width-cart-img" src="./assets/dist/img/Cart.png"/>
                        <div>
                            <!-- <span class="badge badge-danger navbar-badge" #orderTotal>{{this.orderAmount}}</span> -->
                            <span class="badge badge-danger navbar-badge" id="orderTotal"></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="text-center">
        <app-search [taskData]="this.taskData"></app-search>
    </div>
    <!---------------------------------------------->
    <!-------------- Cart pop up ------------------->
    <!-- <app-cart-home [cartPopUp]="this.cartPopUp" (popUpStatus)="receviveStatus($event)"></app-cart-home> -->

    <!-------------- Profile pop up ------------------->
    <!-- <app-profile [profilePopUp]="this.profilePopUp" (closePopUp)="closePopUp()"></app-profile> -->
    
    <!-------------- History pop up ----------------->
    <app-history [historyPopUp]="this.historyPopUp" (closePopUp)="closePopUp()"></app-history>
    <!-- <div class="pop-up-cart" *ngIf="this.historyPopUp">
        <div class="row bg-dark">
            <div class="col-2 close-button pl-4" (click)="openPopUp('history',false)">&times;</div>
            <div class="col-8 text-center"><h5>History</h5></div>
        </div>
        <app-history></app-history>
    </div> -->

    <!-------------- Order pop up ------------------>
    <app-order [orderPopUp]="this.orderPopUp" (closePopUp)="closePopUp()"></app-order>
    <!-- <div class="pop-up-cart" *ngIf="this.orderPopUp">
        <div class="row bg-dark">
            <div class="col-2 close-button pl-4" (click)="openPopUp('order',false)">&times;</div>
            <div class="col-8 text-center"><h5>Order</h5></div>
        </div>
        <app-order></app-order>
    </div> -->

</div>