.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #181818;
    color: whitesmoke;
    overflow-x: hidden;
    transition: 0.5s;
  }
.menu-button {
    font-size: 1rem;
    border-bottom: 2px solid black;
}
.close-button{
    font-size: 1.5rem; 
}
.width-side-menu-img{
    width: 25%;
}
.width-cart-img{
    width: 65%;
}
.width-title-img{
    width: 70%;
}
// @media screen and (max-width: 600px) {
//     .width-side-menu-img{
//         width: 25%;
//     }
//     .width-title-img{
//         width: 70%;
//     }
//   }