.close-button{
    font-size: 1.5rem; 
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    // background-color: #181818;
    background-color: hsla(360,100%,0%,0.3);
    color: #998765;
    overflow-x: hidden;
    transition: 0.5s;
}
.sidenav-size{
    width: 12.5rem;
    height: 100%;
    background-color: #181818;
}
.menu-button {
    font-size: 0.9rem;
    border-bottom: 1px solid black;
}
.menu-head{
    border-bottom: 2px solid #635543;
}
.navbar-badge{
    right: 15%;
}
.width-side-menu-img{
    width: 25%;
}
.width-cart-img{
    width: 65%;
}
.width-title-img{
    width: 70%;
}
@media screen and (min-width: 600px) {
    .navbar-badge{
        right: 17%;
        font-size: 1rem;
        padding: 5px 8px;
    }
    .width-side-menu-img{
        width: 15%;
        padding-top: 0.75rem;
    }
    .width-cart-img{
        width: 55%;
    }
    .width-title-img{
        width: 70%;
    }
}