<div class="pop-up-cart normal-text">
    <div *ngIf="!this.showHistoryInfo">
        <div class="row bg-solid-black">
            <div class="col-2 pl-4 close-button align-middle font-big" [routerLink]="['/delivery']">&times;</div>
            <div class="col-8 mb-0 text-center center-col"><h5 class="p-2 mb-0 text-115-rem">History</h5></div>
        </div>
        <div *ngIf="!this.historyIsNull">
            <div class="container">
                <div *ngFor="let history of this.historyList.data">
                    <div class="history-item-box row" (click)="selectHistory(history.orderId)">
                        <div class="col-10 row">
                            <div class="col-6">
                                <p class="pb-1 gold date-title">{{history.createdDate | slice:0:10}}</p>
                                <p class="pb-1">{{history.createdDate | slice:11:-3}}</p>
                            </div>
                            <div class="col-6 text-right center-col">
                                <p>{{history.totalAmount + history.riderAmount}}</p>
                            </div>
                        </div>
                        <div class="col-2 center-col text-center" style="font-size: 1.75rem;">&gt;</div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="this.historyIsNull">
            <p>Not have any history order.</p>
        </div>
    </div>
    <div *ngIf="this.showHistoryInfo">
        <app-history-information [orderNumber]="this.selectHistoryList" (back)="backFromHistoryInfo()"></app-history-information>
    </div>
</div>
<div class="text-center pt-3" *ngIf="!this.openLoadingPopUp && this.errorCallApi">
    <p>Could not get history information.</p>
</div>
<app-loading-pop-up [openLoadingPopUp]="this.openLoadingPopUp"></app-loading-pop-up>
