.deliver-buttton{
    display: inline-block;
    padding: 1vh 0;
    color: white;
    // background-color: #B39462;
    background-image:  linear-gradient(#B39462, #987e54);
    width: 90%;
}
.deliver-buttton-pos{
    position: absolute;
    bottom: 5vh;
    left: 0;
    width: 100%;
}
.address-box-default{
    padding: 1rem 0;
    margin: 1rem 0;
}