.auto-correct{
    position: absolute;
    background: white;
    width: 95%;
    color: black;
}
.btn-navbar{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.form-control-navbar{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}