<div class="block normal-text">
    <!-- SEARCH FORM --> 
    <form>
        <div class="row input-group input-group-sm">
            <div class="col-3 pr-0">
            </div>
            <div class="row col-6 pl-0 bg-white search-box">
                <div class="col-2 pr-0 align-middle">
                    <div *ngIf="!this.searchInputEmpty">
                        <!-- <div [routerLink]="['/' + this.taskData,'search',this.taskData[0],this.searchInput]" class="btn btn-navbar bg-white"> -->
                        <button (click)="openToNewLink()" class="">
                            <i class="fas fa-search gold"></i>
                        </button>
                    </div>
                    <div *ngIf="this.searchInputEmpty">
                        <button disabled>
                            <i class="fas fa-search gold"></i>
                        </button>
                    </div>
                </div>
                <div class="col-9 pl-0 pr-0">
                    <input class="search-input-box text-center" #search (keyup)="onSubmit(search.value)" (keydown.enter)="openToNewLink()" 
                    value="{{this.searchInput}}" placeholder="Restaurants name">

                    <div class="auto-correct" *ngIf="this.autoCorrect">
                        <div *ngFor="let item of this.searchList.data" style="border-bottom: 1px solid black;">
                            <div *ngFor="let itemInfo of item.childMstMerchantTranslation" (click)="clickAutoCorrect(itemInfo.name)">
                                <p>{{itemInfo.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- <app-loading-pop-up [openLoadingPopUp]="this.openLoadingPopUp"></app-loading-pop-up> -->