<div>
    <div class="gold">
        <h5>Summary</h5>
    </div>
    <!-- <div *ngFor="let item of this.orderList">
        <div class="order-list-item">
            <div>
                {{item.merchant.childMstMerchantTranslation[0].name}}
            </div>
            <div class="row" *ngFor="let itemInfo of item.item.childMstItemTranslation">
                <div class="col-2 text-center">
                    {{item.amount}}
                </div>
                <div class="col-8">
                    <div class="mb-3">
                        <div>
                            {{itemInfo.itemName}}
                        </div>
                        <div>
                            {{item.note}}
                        </div>
                    </div>
                    <div (click)="deleteOrder(item.customerId, item.merchantId, item.itemId, item.amount)">
                        <p>Delete</p>
                    </div>
                </div>
                <div class="col-2 text-center">
                    <div class="mb-3">
                        <p>{{item.amount * item.item.price}}</p>
                    </div>
                    <div class="mb-3" (click)="popUp(itemInfo.itemName, item.customerId, item.merchantId, item.itemId, item.amount, item.note)">
                        <p>Edit</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div *ngFor="let item of this.groupOrderList | keyvalue">
        <div class="order-list-item">
            <div class="gold order-item-title">
                <p>{{item.key}}</p>
            </div>
            <div class="row mb-2 mt-4" *ngFor="let itemInfo of item.value">
                <div class="col-2 text-center">
                    <div class="item-amount">
                        <p>{{itemInfo.itemAmount}}x</p>
                    </div>
                </div>
                <div class="col-8">
                    <div class="mb-3">
                        <div class="order-item-title">
                            <p>{{itemInfo.itemName}}</p>
                        </div>
                        <div>
                           <p>{{itemInfo.itemNote}}</p>
                        </div>
                    </div>
                    <div class="gold" (click)="deleteOrder(itemInfo.customerID, itemInfo.merchantID, itemInfo.itemID, itemInfo.itemAmount)">
                        <p>Delete</p>
                    </div>
                </div>
                <div class="col-2 text-center">
                    <div class="mb-3 order-item-title">
                        <p>{{itemInfo.itemAmount * itemInfo.price}}</p>
                    </div>
                    <div class="mb-3 gold" (click)="editPopUp(itemInfo.itemName, itemInfo.customerID,
                    itemInfo.merchantID, itemInfo.itemID, itemInfo.itemAmount, itemInfo.itemNote)">
                        <p>Edit</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!------ Edit pop up  ----------->
<div class="pop-up" *ngIf="this.openPopUp">
    <div class="pop-up-content">
        <div (click)="closePopUp()" class="text-right">
            <!-- <img src="../../../../../assets/dist/img/Close.png"/> -->
            <p>&#10005;</p>
        </div>
        <div class="pb-1">
            <p>Menu: {{this.menuSelected.itemName}}</p>
        </div>
        <hr>
        <div class="pb-2">
            <p>Comment</p>
            <textarea class="form-control" rows="5" #note value="{{this.menuSelected.note}}"></textarea>
        </div>
        <div class="row pb-3">
            <div class="col-4 text-right" (click)="changeDishNumber('minus')">
                <div class="add-button">
                    <p>-</p>
                </div>
            </div>
            <div class="col-4 align-self-center text-center">
                <div>
                    <p>{{this.menuSelected.amount}}</p>
                </div>
            </div>
            <div class="col-4" (click)="changeDishNumber('add')">
                <div class="add-button">
                    <p>+</p>
                </div>
            </div>
        </div>
        <div class="row gold-button text-center" (click)="updateMenu(note.value)">
            <div class="col-12">
                <p>Save</p>
            </div>
        </div>
    </div>
</div>
<!-------------------------------------------->
<!------ Delete pop up  ----------->
    <div class="pop-up" *ngIf="deleteConfirmPopUp">
        <div class="pop-up-content">
            <div class="mb-4 text-center pt-3 pb-3">
                <p>Delete this order?</p>
            </div>
            <div class="row text-center">
                <div class="col-6">
                    <div class="gold-button" (click)="deleteConfirmation(true)">
                        <p> Yes </p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="gold-button" (click)="deleteConfirmation(false)">
                        <p> No </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-------------------------------------------->
<!------ Error pop up  ----------->
<div class="pop-up" *ngIf="this.openErrorPopUp">
    <div class="pop-up-content text-center">
        <div (click)="this.openErrorPopUp = false" class="text-right">
            <p>&#10005;</p>
        </div>
        <div class="pt-3 pb-3"><p>{{this.errorMessage}}</p></div>
        <div (click)="this.openErrorPopUp = false">
            <div class="gold-button ml-3 mr-3">
                <p>Close</p>
            </div>
        </div>
    </div>
</div>
<!-------------------------------------------->