// .order-list-box{
//     // overflow-y: scroll;
//     // height: 25vh;
// }
.order-list-item{
    border-bottom: 1px solid black;
    padding: 0.25rem;
    margin: 2.5vh 0;
    font-size: 0.75rem;
}
.order-area{
    overflow-y: scroll;
    height: 50vh;
}
.pop-up-content{
    width: 95%;
}
.order-item-title{
    font-size: 1rem;
}
.item-amount{
    background: #B39462;
    padding: 0.5rem 0;
    color: white;
    border-radius: 2rem;
}

/* width */
::-webkit-scrollbar {
    width: 1vw;
  }
    
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #b3b3b3; 
    border-radius: 0.5rem;
  }
     
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #B39462; 
    border-radius: 0.5rem;
  }
    
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #B39462; 
  }