<div class="pop-up-content text-center">
    <div class="gold">
        <h3>Pick up address</h3>
    </div>
    <!-------- All pick up location ---------->
    <div *ngFor="let item of this.pickUpLoList">
        <div (click)="selectAddess(item)"  class="address-box-default" [class.selected-active]="item === activeItem">
            <p>{{item.categoryName}}</p>
        </div>
    </div>
    <!--------------------------->
    <!-- Pick up here button -->
    <div class="deliver-buttton-pos normal-text">
        <div (click)="confirmSelectAddess()" class="text-center deliver-buttton">
            <p>Pick up here</p>
        </div>
    </div>
</div>
<!------------ Loading pop up  --------------->
<app-loading-pop-up [openLoadingPopUp]="this.openLoadingPopUp"></app-loading-pop-up>
<!-------------------------------------------->
