<div class="container">
    <div class="row mt-2 mb-2">
        <!-------------------- Back button ------------------->
        <div class="col-2 mb-4">
            <div class="back-button">
                <a [routerLink]="['/' + this.taskChoosed]">&lt;</a>
            </div>
        </div>
        <!--------------------------------------------------->
        <!--------------- Render shop from search ---------->
        <div class="col-12 pl-0 pointer" *ngFor="let shop of shopList.data">
            <div class="col-12 pointer" *ngFor="let shopInfo of shop.childMstMerchantTranslation">
                <div [routerLink]="['/' + this.taskChoosed + '/restaurant-home',this.taskChoosed,this.categoryChoosed, shopInfo.merchantId]">
                    Restaurnts {{shopInfo.name}}
                    <hr>
                </div>
            </div>
        </div>
        <!----------------------------------------------------->
    </div>
</div>
