<!------ Loading pop up  ----------->
<div class="pop-up" *ngIf="this.openLoadingPopUp">
    <div class="pop-up-content text-center">
        <!-- <div (click)="this.openLoadingPopUp = false" class="text-right">
            <p>&#10005;</p>
        </div> -->
        <div class="pt-3 pb-3"><p>Now loading ...</p></div>
        <!-- <div (click)="this.openErrorPopUp = false">
            <div class="gold-button ml-3 mr-3">
                <p>Close</p>
            </div>
        </div> -->
    </div>
</div>
<!-------------------------------------------->

