<div>
    <!------------------ Tab menu ---------------->
    <ul class="nav nav-pills mb-3 text-center underline" id="pills-tab" role="tablist">
        <li class="col-6 nav-item">
        <a class="nav-link active tab-text" id="pills-home-tab" data-toggle="pill" href="#recommend-menu" role="tab" aria-controls="pills-home" aria-selected="true">
            Recommend</a>
        </li>
        <li class="col-6 nav-item">
        <a class="nav-link tab-text" id="pills-profile-tab" data-toggle="pill" href="#all-menu" role="tab" aria-controls="pills-profile" aria-selected="false">
            All Menu</a>
        </li>
    </ul>
    <!------------------------------------------->
    
    <!----------------------- Tab content ------------------------>
    <div class="tab-content" id="pills-tabContent">
        <!--------------- Recommend menu ---------->
        <div class="tab-pane fade show active" id="recommend-menu" role="tabpanel" aria-labelledby="pills-home-tab">
            <h5 class="tab-text mb-0">Recommend menu</h5>
            <!-- Render menu from list -->
            <!-- <div class="col-12 row menu-button" (click)="popUp(recommend)" *ngFor="let recommend of menuList.data;"> -->
            <div *ngFor="let recommend of this.menuList.data;">  
                <!----- Active ----->
                <div *ngIf="recommend.itemType == 'R' && recommend.active == true && this.shopOpen == true">
                    <div class="col-12 row menu-button" (click)="popUp(recommend)"
                    *ngFor="let menuInfo of recommend.childMstItemTranslation;">
                        <div class="col-3 text-center">
                            <div *ngIf="recommend.photoPath !== '' ">
                                <img class="logo-img" src="http://emfood.yipintsoi.com/web_api{{recommend.photoPath}}">
                            </div>
                            <div *ngIf="recommend.photoPath == '' ">
                                <div>
                                    <img class="logo-img" src="./assets/dist/img/no-picture-200.png">
                                </div>
                            </div>
                        </div>
                        <div class="col-7 over-flow-text">
                            <p>{{menuInfo.itemName}}</p>
                            <p class="desiption-text">{{menuInfo.description}}</p>
                                <div class="price">
                                <p class="pt-4">{{recommend.price}} bath</p>    
                                </div>
                        </div>
                        <div class="col-2 align-self-center text-center">
                            <!-- <div class="add-button">
                                <p>+</p>
                            </div> -->
                            <img class="add-minus-button-img" src="./assets/dist/img/add.png">
                        </div>
                    </div>
                </div>
                <!------------------->
                <!----- Not active ---->
                <div *ngIf="recommend.active == false || this.shopOpen == false">
                    <div *ngIf="recommend.itemType == 'R'">
                        <div class="col-12 row menu-button not-active"
                        *ngFor="let menuInfo of recommend.childMstItemTranslation;">
                            <div class="col-3 text-center">
                                <div *ngIf="recommend.photoPath !== '' ">
                                    <img class="logo-img" src="http://emfood.yipintsoi.com/web_api{{recommend.photoPath}}">
                                </div>
                                <div *ngIf="recommend.photoPath == '' ">
                                    <div>
                                        <img class="logo-img" src="./assets/dist/img/no-picture-200.png">
                                    </div>
                                </div>
                            </div>
                            <div class="col-7 over-flow-text">
                                <p>{{menuInfo.itemName}}</p>
                                <p class="desiption-text">{{menuInfo.description}}</p>
                                    <div class="price">
                                    <p class="pt-4 not-active">{{recommend.price}} bath</p>    
                                    </div>
                            </div>
                            <!-- <div class="col-2 align-self-center text-center">
                                <div class="add-button">
                                    <p>+</p>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <!------------------->
            </div>
            <!--------------------------->
        </div>
        <!------------------------------------------>

        <!--------------- All menu ---------->
        <div class="tab-pane fade" id="all-menu" role="tabpanel" aria-labelledby="pills-profile-tab">
            <h5 class="tab-text mb-0">All menu</h5>
            <div *ngFor="let allMenu of this.menuList.data;">
                <!-- Active -->
                <div *ngIf="allMenu.active == true && this.shopOpen == true">
                    <div class="col-12 row menu-button" (click)="popUp(allMenu)" 
                    *ngFor="let menuInfo of allMenu.childMstItemTranslation;">
                        <div class="col-3 text-center">
                            <div *ngIf="allMenu.photoPath !== '' ">
                                <img class="logo-img" src="http://emfood.yipintsoi.com/web_api{{allMenu.photoPath}}">
                            </div>
                            <div *ngIf="allMenu.photoPath == '' ">
                                <div>
                                    <img class="logo-img" src="./assets/dist/img/no-picture-200.png">
                                </div>
                            </div>
                        </div>
                        <div class="col-7 over-flow-text">
                            <p>{{menuInfo.itemName}}</p>
                            <p class="desiption-text">{{menuInfo.description}}</p>
                                <div class="price">
                                <p class="pt-4">{{allMenu.price}} bath</p>    
                                </div>
                        </div>
                        <div class="col-2 align-self-center text-center">
                            <!-- <div class="add-button">
                                <p>+</p>
                            </div> -->
                            <img class="add-minus-button-img" src="./assets/dist/img/add.png">
                        </div>
                    </div>
                </div>
                <!------------->
                <!--Not active-->
                <div *ngIf="allMenu.active == false || this.shopOpen == false">
                    <div class="col-12 row menu-button not-active" 
                    *ngFor="let menuInfo of allMenu.childMstItemTranslation;">
                        <div class="col-3 text-center">
                            <div *ngIf="allMenu.photoPath !== '' ">
                                <img class="logo-img" src="http://emfood.yipintsoi.com/web_api{{allMenu.photoPath}}">
                            </div>
                            <div *ngIf="allMenu.photoPath == '' ">
                                <div>
                                    <img class="logo-img" src="./assets/dist/img/no-picture-200.png">
                                </div>
                            </div>
                        </div>
                        <div class="col-7 over-flow-text">
                            <p>{{menuInfo.itemName}}</p>
                            <p class="desiption-text">{{menuInfo.description}}</p>
                                <div class="price">
                                <p class="pt-4 not-active">{{allMenu.price}} bath</p>    
                                </div>
                        </div>
                        <!-- <div class="col-2 align-self-center text-center">
                            <div class="add-button">
                                <p>+</p>
                            </div>
                        </div> -->
                    </div>
                </div>
                <!-------------->
            </div>
        </div>
        <!------------------------------------------>
    </div>
</div>

<!------ Ordering pop up  ----------->
<div class="pop-up" *ngIf="this.openPopUp">
    <div (click)="closePopUp()" class="close-button-pos">
        <!-- <p>&#10005;</p> -->
        <img class="close-img" src="./assets/dist/img/Close.png">
    </div>
    <div class="pop-up-content">
        <div class="pb-1 mb-1 text-center" *ngFor="let item of this.menuSelected.childMstItemTranslation" style="border-bottom: 0.5px solid black;">
            <div *ngIf="this.menuSelected.photoPath !== '' ">
                <img class="food-img" src="http://emfood.yipintsoi.com/web_api{{this.menuSelected.photoPath}}">
            </div>
            <div *ngIf="this.menuSelected.photoPath == '' ">
                <div class="text-center">
                    <img class="food-img" src="./assets/dist/img/no-picture-820.png">
                </div>
            </div>
            <div class="container text-left over-flow-text">
                <p class="pt-3">Menu: {{item.itemName}}</p>
                <p class="desiption-text">{{item.description}}</p>
            </div>
        </div>
        <div class="container pb-2">
            <p>Comment</p>
            <textarea class="form-control" rows="5" #comment></textarea>
        </div>
        <div class="row pb-3">
            <div class="col-4 text-right" (click)="changeDishNumber('minus')">
                <!-- <div class="add-button">
                    <p>-</p>
                </div> -->
                <img class="add-minus-button-img" src="./assets/dist/img/minus.png">
            </div>
            <div class="col-4 align-self-center text-center">
                <div>
                    <p>{{this.numberEachDish}}</p>
                </div>
            </div>
            <div class="col-4" (click)="changeDishNumber('add')">
                <!-- <div class="add-button">
                    <p>+</p>
                </div> -->
                <img class="add-minus-button-img" src="./assets/dist/img/add.png">
            </div>
        </div>
        <div class="row gold-button" (click)="addToCart(comment.value)">
            <div class="col-6">
                <p>Add to cart</p>
            </div>
            <div class="col-6 text-right">
                <p>{{this.totalPrice}}</p>
            </div>
        </div>
    </div>
</div>
<!-------------------------------------------->

<!----------------- Cart button --------------->
<!-- <div class="row cart-button text-center pointer" (click)="openCart()"> -->
<div class="row cart-button text-center pointer" [routerLink]="['/delivery/cart-page']" >
    <div class="col-2">
        <!-- <p>0</p> -->
    </div>
    <div class="col-8">
        <p>Your cart</p>
    </div>
    <div class="col-2">
        <!-- <p>0</p> -->
    </div>
</div>
<!--------------------------------------------->

<!-- ----------------- Cart pop up -----------
<app-cart-home [cartPopUp]="this.openCartPopUp"></app-cart-home> -->
<!--------------------------------------------->

<!------ Error pop up  ----------->
<div class="pop-up" *ngIf="this.openErrorPopUp">
    <div class="pop-up-content text-center">
        <div (click)="this.openErrorPopUp = false" class="text-right">
            <p>&#10005;</p>
        </div>
        <div class="pt-3 pb-3"><p>{{this.errorMessage}}</p></div>
        <!-- <div (click)="this.openErrorPopUp = false">
            <div class="gold-button ml-3 mr-3">
                <p>Close</p>
            </div>
        </div> -->
    </div>
</div>
<!-------------------------------------------->
<!------------ Loading pop up  --------------->
<app-loading-pop-up [openLoadingPopUp]="this.openLoadingPopUp"></app-loading-pop-up>
<!-------------------------------------------->
