<div>
    <div>
        <div *ngFor="let item of this.restaurantInfo.data">
            <div class="text-center p-5 m-1" style="border: 2px solid black;" *ngIf="item.bannerPath == '' ">
                <p>No Image</p>
            </div>
            <div *ngIf="item.bannerPath !== '' ">
                <img src="{{this.restaurantInfo.bannerPath}}">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row pb-3">
            <!--------------- back button ---------------->
            <div class="col-2 mt-2 mb-2">
                <!-- Back to home page -->
                <div *ngIf="this.routeId === 'search' ">
                    <a class="back-button text-left" [routerLink]="['/' + this.taskSelect,'search',this.taskSelect, this.searchInput]">&lt;</a>
                </div>
                <!----------------------->

                <!-- Back to category page -->
                <div *ngIf="this.routeId !== 'search' ">
                    <a class="back-button text-left" [routerLink]="['/' + this.taskSelect,'shop-list',this.taskSelect, this.routeId]">&lt;</a>
                </div>
                <!----------------------->
            </div>
            <!------------------------------------------->
            <div class="col-10">
                <div *ngFor="let item of restaurantInfo.data">
                    <div *ngFor="let info of item.childMstMerchantTranslation">
                        <h1>{{info.name}}</h1>
                        <p class="desiption-text">{{info.detail}}</p>
                    </div>
                    <div>
                        <p>Open: {{item.openTime}}</p>
                        <p>Close: {{item.closeTime}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!---------------------------------------------->
        <app-delivery *ngIf="this.taskSelect === 'delivery' "></app-delivery>
        <app-reserve *ngIf="this.taskSelect === 'reserve' "></app-reserve>
    </div>
</div>