<div class="pop-up-cart normal-text" *ngIf="this.historyPopUp">
    <div class="row bg-solid-black">
        <div class="col-2 pl-4 close-button align-middle font-big" (click)="closeHistoryPage()">&times;</div>
        <div class="col-8 mb-0 text-center center-col"><h5 class="p-2 mb-0 text-115-rem">History</h5></div>
    </div>
    <div *ngIf="!this.historyIsNull">
        <p>History work</p>
    </div>
    <div *ngIf="this.historyIsNull">
        <p>Not have any history order.</p>
    </div>
</div>
