<div class="pop-up-cart normal-text" *ngIf="this.cartPopUp">
    <div class="row bg-solid-black">
        <div class="col-2 pl-4 close-button align-middle font-big" (click)="closeCartPage()">&times;</div>
        <div class="col-8 mb-0 text-center"><h5 class="p-2 text-115-rem">Cart</h5></div>
    </div>
    <div class="container pop-up-content">
        <!--------------- Address area -------------------->
            <div *ngIf="this.showName">
                <h5 class="text-115-rem gold">Addrees</h5>
                <div class="form-group">
                    <p>Name</p>
                    <!-- <p>{{this.selectedAddress[0].name}}</p> -->
                    <input class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                    <p>Telephone number</p>
                    <input class="form-control" placeholder="Phone number">
                </div>
                <hr>
                <div class="form-group">
                    <p>{{this.selectedAddress[0].name}}</p>
                    <p class="pb-2">{{this.selectedAddress[0].detail}}</p>
                    <div class="comment-area" *ngIf="this.selectedAddress[0].type === 'delivery' ">
                        <p>Comment for address :</p>
                        <p>{{this.selectedAddress[0].note}}</p>
                    </div>
                </div>
                <hr>
            </div>

            <!-- <div *ngIf="this.pickUp">
                <div class="form-group">
                    <p>Name</p>
                    <input class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Phone number">
                </div>
                <hr>
            </div> -->
        
            <div class="row text-center pb-3">
                <div class="col-6">
                    <div class="gold-button" (click)="openAddressPopUp()">
                        <p>Delivery</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="gold-button" (click)="openPickUpPopUp()">
                        <p>Pick up</p>
                    </div>
                </div>
            </div>
            <hr class="underline">
        <!---------------------------------------------------->
        <!--------------- Comment area ----------------------->
            <!-- <div>
                <p>Comment</p>
                <textarea class="form-control" rows="2" id="comment"></textarea>
            </div> -->
        <!------------------------------------------------------>
            <div>
                <app-order-list (getSummary)="renderSummary($event)"></app-order-list>
            </div>
            <hr class="underline">
            <!---------- Coupon  ------------>
            <div class="row text-center mt-2 mb-2">
                <div class="col-3 pr-0 pl-0">
                    <p class="pt-2">Coupon</p>
                </div>
                <div class="col-6">
                    <input #couponCode class="form-control">
                </div>
                <div (click)="checkCouponCode(couponCode.value)" class="col-3 gold-button">
                    <p>Enter</p>
                </div>
            </div>
            <div class="row" *ngFor="let item of this.couponUsedList">
                <div class="col-6">
                    <p>{{item.couponCode}}</p>
                </div>
                <div class="col-6 text-right">
                    <p>{{item.discountAmount}}</p>
                </div>              
            </div>
            <!----------------------------->
            <hr class="underline">
            <div class="payment-box">
                <div class="gold">
                    <h5 class="text-115-rem">Payment</h5>
                </div>
                <div class="row text-center custom-checkbox">
                    <div class="col-4">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">Credit card</label>
                    </div>
                    <div class="col-4">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">Account</label>
                    </div>
                    <div class="col-4">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                        <label class="form-check-label" for="inlineRadio3">QR Code</label>
                    </div>
                </div>
            </div>
            <hr class="underline">
            <!--------- delivery price ------->
            <div class="row gold pb-3" *ngIf="this.showName">
                <div class="col-6 pl-0 text-left">
                    <p>Delivery price</p>
                </div>
                <div class="col-6 pr-0 text-right">
                    <p>{{this.selectedAddress[0].deliveryPrice}}</p>
                </div>
            </div>
            <!---------------------------------->
            <div class="row gold">
                <div class="col-6 pl-0 text-left">
                    <p>Discount</p>
                </div>
                <div class="col-6 pr-0 text-right">
                    <p>{{this.totalDiscount}}</p>
                </div>
            </div>
            <!---------------------------------->
            <div class="row gold">
                <div class="col-6 pl-0 text-left">
                    <p>Total</p>
                </div>
                <div class="col-6 pr-0 text-right">
                    <p>{{this.totalPrice}}</p>
                </div>
            </div>
        <!---------------- Summary button -------------------->
            <div class="row cart-button text-center">
                <div class="col-2">
                    <p>{{this.totalOrder}}</p>
                </div>
                <div class="col-8">
                    <p>Summary</p>
                </div>
                <div class="col-2">
                    <p>{{this.totalPrice}}</p>
                </div>
            </div>
        <!---------------------------------------------------->
    </div>
</div>


<!-- Delivery Pop Up -->
<div class="pop-up-cart" *ngIf="this.deliveryAddress">
    <div class="row bg-solid-black">
        <div class="col-2 pl-4 close-button align-middle" (click)="closeAddress('delivery')"><p class="pt-2"> < </p></div>
        <div class="col-8 text-center"><h5 class="p-2 text-115-rem">Address delivery</h5></div>
    </div>
    <div class="container">
        <app-delivery-address (selectedAddress)="addressSelected($event)"></app-delivery-address>
    </div>
</div>

<!-- Pick Up Pop Up -->
<div class="pop-up-cart" *ngIf="this.pickUp">
    <div class="row bg-solid-black">
        <div class="col-2 pl-4 close-button align-middle" (click)="closeAddress('pickUp')"><p class="pt-2"> < </p></div>
        <div class="col-8 text-center"><h5 class="p-2 text-115-rem">Pick up address</h5></div>
    </div>
    <div class="container">
        <app-pick-up-address (selectedAddress)="addressSelected($event)"></app-pick-up-address>
    </div>
</div>

<!--  Error Pop Up -->
<div class="pop-up" *ngIf="this.errorPopUp">
    <div class="pop-up-content text-center">
        <div (click)="this.errorPopUp = false" class="text-right">
            <p>&#10005;</p>
        </div>
        <div class="text-center ml-3 mr-3">
            <p>{{this.errorCodeText}}</p>
        </div>
    </div>
</div>