.get-address-pop-up{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
}
.close-button{
    font-size: 1.5rem;
}
.font-big{
    font-size: 2rem;
}
.underline{
    border: 2px solid gray;
}