/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: prompt;
    src: url(./assets/font/prompt/Prompt-Light.ttf);
  }
@font-face {
    font-family: gt-walsheim;
    src: url(./assets/font/gt-walsheim/GT-Walsheim-Thin-Trial.otf);
}
body{
    // background-color: red;
    background-image: url('./assets/dist/img/em-food-dining_BG.jpg');
    // background-repeat: no-repeat;
    background-size: contain;
    font-family: prompt;
    color: #1a1a1a;
}
h5 {
    line-height: inherit;
}
p{
    margin-bottom: 0;
}
a{
    color: #1a1a1a;
}
.container{
    word-break: break-word;
}
.center-col{
    align-self: center;
}
.desiption-text{
    color: #b3b3b3;
}
.pointer{
    cursor : pointer;
}
.black{
    color: black;
}
.gold{
    color: #B39462;
}
.bg-solid-black{
    background-color: black;
}
.back-button{
    display: inline-block;
    background-color: white;
    font-size: 0.9rem;
    padding: 0.1rem 0.5rem;
    border-radius: 1.5rem;
    border: 1px solid black;
}
.row{
    margin: 0;
}
.text-115-rem{
    font-size: 1.15rem;
}
.title-home-box{
    border-bottom: 1px solid #B39462;
    color: white;
}
.title-home{
    font-family: gt-walsheim;
    display: inline-block;
    margin: 0;
    font-size: 1.1rem;
    background: #B39462;
    border-top-right-radius: 1rem;
}
// .em-main-bg{
//     background-image: url("./assets/dist/img/em-food-dining_BG.jpg");
// }
.error-pop-up{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    color: black;
    background-color: white; /* Fallback color */
}
.font-big{
    font-size: 2rem;
}
.pop-up-cart{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    color: #B39462;
    background-color: white; /* Fallback color */
}
.pop-up {
    position: fixed;
    z-index: 1;
    padding-top: 28vh;
    padding-bottom: 5vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}
.pop-up-content{
    background-color: white;
    margin: auto;
    padding: 1rem;
    color: black;
    width: 95%;
}
.add-minus-button-img{
    width: 100%;
    max-width: 20px;
    max-height: 20px;
}
.loading-img{
    width: 100%;
    max-width: 50px;
    max-height: 50px;
}
.close-img{
    width: 100%;
    max-width: 20px;
    max-height: 20px;
}
.deliver-buttton{
    display: inline-block;
    padding: 1vh 0;
    color: white;
    // background-color: #B39462;
    background-image:  linear-gradient(#B39462, #987e54);
    width: 100%;
}
.deliver-buttton-pos{
    position: fixed;
    background-color: white;
    padding: 1rem;
    bottom: 0;
    left: 0;
    width: 100%;
}
.logo-img-home{
    width: 100%;
    border: 1px solid black;
    max-width: 100px;
    max-height: 100px;
}
.logo-img{
    width: 100%;
    max-width: 200px;
    max-height: 200px;
}
.food-img{
    width: 100%;
    max-width: 820px;
    max-height: 312px;
}
.restaurant-page-banner{
    width: 100%;
    max-width: 1280px;
    max-height: 720px;
}
.home-page-banner{
    width: 100%;
    max-width: 1280px;
    max-height: 720px;
}
.address-box-default{
    border: 2px solid #B39462;
    padding: 0.25rem;
    font-size: 0.75rem;
}
.selected-active{
    background-color: #b3946273 !important;
}
.gold-button{
    background-image:  linear-gradient(#B39462, #987e54);
    // background-color: #B39462;
    color: white;
    padding: 0.5rem;
}
.cart-button{
    position: fixed;
    width: 100%;
    padding: 0.5rem 0;
    left:0;
    bottom: 0;
    background-image:  linear-gradient(#B39462, #987e54);
    // background-color: #B39462;
    color: white;
}

.nav-pills .nav-link{
    color: #999999;
}
.nav-link.active{
    color: #805B32 !important;
    border-bottom: 2px solid #805B32 !important;
}
.normal-text{
    font-size: 0.75rem;
}
.max-width{
    width: 100%;
}
.over-flow-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.underline{
    border-bottom: 0.5px solid black;
}
@media (min-width: 650px) {
    .close-img{
        max-width: 28px;
        max-height: 28px;
    }
  }
